@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --light-lilac: #E0E8FF;
  --lilac: #DFE6FB;
  --blue: #382AE1;
  --white: #FFFFFF;
  --dark-blue: #1F2E55;
  --gray: #717FA6;
  --light-gray: #DFE6FB;
  --light-gray2: #717FA6;
  --light-gray3:#F7F9FF;

  /* SHADOWS*/
  --shadow: 0 4px 4px 0  hsla(0, 0%, 0%,0.25);
  --button-shadow: 0 20px 20px 0 hsla(245, 75%, 52%, 19.03%);

  /* TYPOGRAPHY */
  --FF:"Red Hat Display", sans-serif;
  --BODY-BOLD-MOB:900 1.375rem var(--FF);
  --BODY-MOB: 500 .9375rem/1.5625rem var(--FF);
  --BODY-BOLD2-MOB: 900 .875rem var(--FF);
  --BODY-MOB2: 500 .875rem var(--FF);
  --BODY-BOLD : bold .8125rem var(--FF);
  --BODY-BOLD2 : bold .9375rem var(--FF);
  --BODY-BOLD3 : 900 .9375rem var(--FF);
  --TITLE :900 1.75rem var(--FF);
  --BODY:500 1rem/1.625rem var(--FF);
  --BODY-BOLD:900 1rem var(--FF);
  --BODY2: 500 1rem var(--FF);
  --BODY3: 700 0.875rem var(--FF);

}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}
.responsive-image {
  display: none;
}
/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  place-content: center;
  display:grid;  
  background-color: var(--lilac);  
  background-image: url("./images/pattern-background-mobile.svg");
  background-position: top center;
  background-repeat:no-repeat;
  background-size:100% 26.76%;
}
h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

.main-card{ 
  max-width:327px;
  height: 567px;
  background-color: var(--white);
  margin: 4.4375rem 1.5rem;
  border-radius: 20px 20px 20px 20px;
  box-shadow:var(--shadow);
}
.main-card-hero{
  width: 327px;
  height: 160px;
}
.main-card-hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;  
}
.main-card-title{
  font: var(--BODY-BOLD-MOB);
  color: var(--dark-blue);
  margin: 2rem 2rem 1rem 2rem;
  text-align: center; 
}
.main-card-summary{
  height: 407px;
  width: 327px;
  display: flex;
  flex-flow: column;
  gap:24px;
  align-items: center;  

}
.main-card-summary-description-div{
  margin:0rem 2rem;
  align-items: center;  
}
.main-card-summary-description{
  font: var(--BODY-MOB2);
 
  width: 263px;
  height: 75px;  
  text-align: center; 
}
.main-card-summary-plans-div{
  width: 279px;
  height: 81px;
  background-color: var(--light-gray3);
  margin: 0rem 1.5rem;
  border-radius:11px;
}
.main-card-summary-plans-inner-div{
  display: flex;
  flex-flow: row; 
  align-items: center;
  padding: 1.0625rem 1rem 1rem 1rem;
}
img  {
  margin-right: 1.25rem;
  width: 48px;
  height: 48px;
}
.main-card-summary-plans-price-div{
  max-width: 81px;
  height: 40px;
  display: flex;
  flex-flow: column;
  gap: .1875rem;
  align-items: center;
}
.main-card-summary-plans-title-div{
  max-width: 88.66px;
  height: 19px; 
}
.main-card-summary-plans-title{
  font: var(--BODY-BOLD2-MOB); 
  color: var(--dark-blue);
}
.main-card-summary-plans-price{
  max-width: 81px;
  height: 19px;
}
.main-card-summary-plans-description{
  font: var(--BODY-MOB); 
}
.main-card-summary-change-link-div{
  max-width: 48px;
  height: 17px;
  margin-left: 50px ;
}
.main-card-summary-change-link{
  text-decoration: underline;
  font: var(--BODY-BOLD);
}
.main-card-summary-button{
  width: 279px;
  height:50px;
  background-color: var(--blue);
  border-radius: 11px;
  font: var(--BODY-BOLD3);
  text-decoration: none;
  color: var(--white);
  padding: 0.9375rem 4.0625rem 0.9375rem 4rem;
  box-shadow: var(--button-shadow);
}

.main-card-summary-cancel-link{
  margin: 0rem 7.25rem 0rem 7.1875rem;
  text-decoration: none;
  font: var(--BODY-BOLD3);
  color:var(--gray);
  text-transform: capitalize; 
}

/*Tablet*/

@media screen and (min-width: 768px) {
  body{
    background-image: url("./images/pattern-background-desktop.svg");
    background-size: 100% 48.56%;  

  }
  .main-card{ 
    max-width:450px;
    height: 697px;   
    margin:6.375rem 30.9375rem 101px 6.3125rem 30.9375rem; 
  }
  .main-card-hero{
    width: 450px;
    height: 220px;
  }
  .main-card-hero img{
   margin-bottom:3rem;  
  }
  .main-card-title{
    font: var(--TITLE);
    margin: 2.8125rem 3rem 1.0625rem 3rem;    
  }
  .main-card-summary{
    height: 196px;
    width: 354px;
    gap:32px;
    margin: 1.0625rem 3rem 2rem 3rem; 
  }
  .main-card-summary-description-div{
    margin:0rem 2rem;
    align-items: center;  
  }
  .main-card-summary-description{
    font: var(--BODY);
    opacity:100%;
    width: 354px;
    height: 78px;  
   color: var(--gray); 
  }
  .main-card-summary-plans-div{
    width: 354px;
    height: 98px;
    margin: 0rem 3rem;
  
  }
  .main-card-summary-plans-inner-div{
    padding: 1.5625rem 1.5rem;
  }
 
  .main-card-summary-plans-price-div{
    max-width: 92px;
    height: 48px;
    gap: 6px;
   
  }
  .main-card-summary-plans-title-div{
    max-width: 117.2096px;
    height: 21px;
   
  }
  .main-card-summary-plans-title{
    font: var(--BODY-BOLD); 
  }
  .main-card-summary-plans-price{
    max-width: 92px;
    height: 21px;
  }
  .main-card-summary-plans-description{
    font: var(--BODY2); 
    color: var(--gray);
  }
  .main-card-summary-change-link-div{
    max-width: 52px;
    height: 19px;
    margin-left: 94px ;
    margin-bottom: 2rem;
  }
  .main-card-summary-change-link{   
    font: var(--BODY3);
  }
  .main-card-summary-button{
    width: 354px;    
    padding: 0.9375rem 6.375rem;
    box-shadow: var(--button-shadow); 
   
  }  
  .main-card-summary-cancel-link{
    margin: 0rem 11.125rem 3rem 11rem; 
    white-space:nowrap;     
  }
  
}
/*Desktop Active*/
@media screen and (min-width:992px){
  .main-card-summary-change-link:hover,
  .main-card-summary-change-link:focus-visible{
    color:#766CF1;
    text-decoration:none;
    
  }
  .main-card-summary-button:hover,
  .main-card-summary-button:focus-visible {
    background-color:#766CF1;
  }
  .main-card-summary-cancel-link:hover,
  .main-card-summary-cancel-link:focus-visible{
    color:#1F2E55;
    white-space:nowrap;
  }  

}





