@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --light-lilac: #E0E8FF;
  --lilac: #D6E1FF;
  --blue: #382AE1;
  --white: #FFFFFF;
  --dark-blue: #1F2E55;
  --gray: #717FA6;
  --light-gray: #DFE6FB;
  --light-gray2: #717FA6;
  --light-gray3:#F7F9FF;

  /* SHADOWS*/
  --shadow: 0 4px 4px 0  hsla(0, 0%, 0%,0.25);

  /* TYPOGRAPHY */
  --FF:"Red Hat Display", sans-serif;
  --BODY-BOLD-MOB:900 1.375rem var(--FF);
  --BODY-MOB: 500 .9375rem/1.5625rem var(--FF);
  --BODY-BOLD2-MOB: 900 .875rem var(--FF);
  --BODY-MOB2: 500 .875rem var(--FF);
  --BODY-BOLD : bold .8125rem var(--FF);
  --BODY-BOLD2 : bold .9375rem var(--FF);
  --BODY-BOLD3 : 900 .9375rem var(--FF);

}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}
.responsive-image {
  display: none;
}
/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  place-content: center;
  display:grid;  
  background-color: var(--lilac);  
}
h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

.main-card{ 
  max-width:327px;
  min-height: 567px;
  background-color: var(--white);
  margin: 4.4375rem 1.5rem;
  border-radius: 20px 20px 0 0;
}
.main-card-hero{
  width: 327px;
  height: 160px;
}
.main-card-hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;  
}
.main-card-title{
  font: var(--BODY-BOLD-MOB);
  margin: 2rem 2rem 1rem 2rem;
  text-align: center; 
}
.main-card-summary{
  height: 407px;
  width: 327px;
  display: flex;
  flex-flow: column;
  gap:24px;
  align-items: center;

}
.main-card-summary-description-div{
  margin:0rem 2rem;
  align-items: center;  
}
.main-card-summary-description{
  font: var(--BODY-MOB2);
  width: 263px;
  height: 75px;  
  text-align: center; 
}
.main-card-summary-plans-div{
  width: 279px;
  height: 81px;
  background-color: var(--light-gray3);
  margin: 0rem 1.5rem;
  border-radius:11px;

}
.main-card-summary-plans-inner-div{
  display: flex;
  flex-flow: row; 
  align-items: center;
  padding: 1.0625rem 1rem 1rem 1rem;
}
img  {
  margin-right: 1.25rem;
  width: 48px;
  height: 48px;

}
.main-card-summary-plans-price-div{
  max-width: 81px;
  height: 40px;
  display: flex;
  flex-flow: column;
  gap: .1875rem;
  align-items: center;
}
.main-card-summary-plans-title-div{
  max-width: 88.66px;
  height: 19px;
 
}
.main-card-summary-plans-title{
  font: var(--BODY-BOLD2-MOB); 
}
.main-card-summary-plans-price{
  max-width: 81px;
  height: 19px;
}
.main-card-summary-plans-description{
  font: var(--BODY-MOB); 
}
.main-card-summary-change-link-div{
  max-width: 48px;
  height: 17px;
  margin-left: 50px ;
}
.main-card-summary-change-link{
  text-decoration: underline;
  font: var(--BODY-BOLD);
}





